{
  "plugins": [
    "add-react-displayname",
    [
      "module-resolver",
      {
        "alias": {
          "shared": "./src/shared",
          "routes": "./src/routes",
          "modules": "./src/modules"
        }
      }
    ]
  ]
}
